.post {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 500px;
    font-size: 16px;
}

.post_username {
    font-weight: bold;
    float: left;
}

.post_timestamp {
    float: right;
    color: #aaa;
    font-size: 14px;
}

.post_content {
    clear: left;
}

#compose {
    width: 500px;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
}

#send {
    margin-bottom: 30px;
}